@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

header{
	text-align: center;
}

body{
	font-family: 'Roboto', sans-serif;
	text-align: center;
  	margin: 0 auto; 
}

/*////////////////////// GENERIQUE //////////////////////*/
h1{
    font-size: 2em;
	font-weight:inherit;
	margin-bottom: 25px;
	margin: 0 auto;
    line-height: 1.2em;
}
h2{
    font-family: 'Oswald', sans-serif;
    color: #145cb2;
    font-size: 1.4em;
	font-weight:inherit;
	margin-bottom: 5px;
	margin-top: 10px;
}
h1,h2,p,.calcul{
    font-family: 'Oswald', sans-serif;
    color: #145cb2;
}
input[type="number" i] {
    padding: 9px 0px 3px 0px;
}
input{
    border-radius: 5px;
    border-color: white;
    font-size: 1.4em;
    text-align: center;
    width: 150px;
    height: 23px;
}
input::placeholder {
    color: rgb(153, 153, 153);
    /* font-size: 1.4em; */
    font-style: italic;
    line-height: 20px;
  }
img{
    width:80%;
}
legend{
    font-size: 0.8em;
    font-style: italic;
    color: grey;
    margin: 0px auto;
}
.interLegend1{
    line-height: 0.5em;
    margin-bottom: 10px;
}
.interLegend2{
    line-height: 1.2em;
}
li{
    padding: 10px;
    text-align: left;
    font-style: italic;
    font-size: 1em;
}
p{
    margin-top: 3px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1em;
    line-height: 1em;
}
footer{
    width:100%;
    height: 15px;
    background-image:url(../images/signature.svg);
    background-repeat:no-repeat;
    background-position:center;
    margin-top: 10px;
 }
 hr{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    width: 200px;
}
.calcul{
    background-color: #005CB2;
    line-height: 50px;
    width: 300px;
    padding: 0px 10px;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}
.zoneInput{
    background-color: #005cb236;
    border: 2px solid #005CB2;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 40px;
}
.zoneInput2{
    margin-left: 16px;
}
.buttom{
    width: 29px;
    height: 29px;
    background-color: white;
    cursor: pointer;
    background-image: url(../images/supp.png);
    object-position: 50% 50%;
    position: relative;
    top: -32px;
    width: 29px;
    left: 124px;
}
.search{
    height: 70px;
    margin: 0px auto;
}
.info{
    font-family:DM;
    font-style: italic;
    font-size: 1.3em;
    background-color: #005CB2;
    color: white;
    font-weight: bold;
    width: 20px;
    height: 20px;
    padding: 2px 2px;
    border-radius: 50%;
    line-height: 20px;
    margin-left: 4px;
    margin-top: 9px;
    cursor : pointer;
}
.consigne{
    display: flex;
    margin: 0px auto;
    line-height: 23px;
    justify-content: center;
    align-items: center;
}
.infoBulle{
    background-color: #005CB2;
    color: white;
    position: absolute;
    top: 18%;
    z-index: 1;
    width: 70%;
    margin: 0px auto;
    cursor: pointer;
    left: 15%;
    border-radius: 7px;
}

@media only screen and (max-width: 450px)  {
    .infoBulle{
        top: 43%;
    }
    input[type="number" i] {
        padding: 5px 0px 3px 0px;
    }
    input{
        height: 27px;
    }
    .buttom{
       top: -32px;
    }
    .infoBulle{
        top: 16%;
        z-index: 1;
        width: 90%;
        left: 5%;
    }
  }