<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sud Ouest - Infographie - Simulateur prix des cantines</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://unpkg.com/pattern.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <h1 @click="hideNotice2">Calculez le nouveau prix</br>des repas à la cantine</h1>
            <div @click="hideNotice2">
                <!-- <img src="images/visu.png"> -->
                <div class="infoBulle" v-html="html"></div>
            </div>
            <div @click="hideNotice2">
                <h2>Indiquez votre revenu fiscal de référence</h2>
                <legend class="interLegend1">(Mentionné sur votre avis d'impôt sur les revenus)</legend>
                <!-- <div class="info" @mouseover="showNotice" @mouseout="hideNotice">I</div> -->
            </div>
            <div @click="hideNotice2" class="search" style="display:flex;justify-content: center;">
                <div class="zoneInput">
                    <input v-bind:id="id" type="number" v-model="d" placeholder="ex. 20000">
                    <div v-show="d !='' " class="buttom" @click="clear"></div>
                </div>
            </div>
            <div class="consigne">
                <h2 @click="hideNotice2">Nombre de parts fiscales</h2>
                <div id="info" class="info" @click="showNotice2">i</div>
            </div>
            <div @click="hideNotice2" class="search" style="display: flex;justify-content: center;">
                <div class="zoneInput">
                    <input v-bind:id="id2" type="number" v-model="e" placeholder="ex. 2">
                    <div v-show="e !='' " class="buttom" @click="clear2"></div>
                </div>
            </div>
        <p>Prix unitaire du repas qui vous sera désormais facturé</br>à compter du 1<sup>er</sup> janvier 2023</p>
        <h1 @click="hideNotice2" class='calcul'>Pause du midi :<br>{{calculQF}} €<br>par enfant</h1>
    </div>
    <hr>
    <legend class="interLegend2">Les informations renseignées dans la calculatrice de prix</br>des repas ne sont pas enregistrées ni transmises à un serveur.</br>Le calcul s'effectue directement dans votre navigateur</br>et les données ne sont pas stockées.</legend>
    <hr>
    <footer></footer>
    <script>
        app = Vue.createApp({
            data(){
                return{
                    d: '',
                    e: '',
                    id: 'ref',
                    id2: 'ref2',
                    html:'',
                    xy:''
                }
            },
            computed:{
                calcul(){
                    if (this.d == 0) {
                        toto = '-- ';
                        return toto;    
                    }
                    else{
                        toto = this.d/12
                        return toto
                    }  
                },
                calculQF(){
                    if (this.e == 0) {
                        ff = '-- ';
                        return ff;    
                    }
                    else{
                        tata = (this.d/12)/(this.e)
                        ff = (tata*tata)*0.0000003555+0.0019*tata+0.45;
                        if (ff < 6.50) {
                            return Math.round(ff * 100) / 100;
                            // return ff;
                        }
                        if (ff >= 6.50) {
                            // return Math.floor(6.5 * 100) / 100;
                            return '6.50';
                        }
                    }  
                }
                // ,
                // calculTest(){
                //     if (this.e == 0) {
                //         ff = '-- ';
                //         return ff;    
                //     }
                //     else{
                //         tata = (this.d/12)/(this.e)
                //         ff = (tata*tata)*0.0000003555+0.0019*tata+0.45;
                //         if (ff < 6.50) {
                //             // return Math.floor(ff * 100) / 100;
                //             return ff;
                //         }
                //         if (ff > 6.50) {
                //             // return Math.floor(6.5 * 100) / 100;
                //             return '6.50';
                //         }
                //     }  
                // }
            },
            methods:{
                boite(ev){
                    this.xy = 'x = ' + ev.offsetX +  'y = ' + ev.offsetY;
                },
                clear(){
                    this.d = ''; 
                },
                clear2(){
                    this.e = ''; 
                },
                showNotice(){
                    this. html = '<p> tototo </p>'+
                                '<img src="images/base.jpeg">'; 
                },
                hideNotice(){
                    this. html = ''; 
                },
                showNotice2(){
                    this. html = '<li>Si votre quotient familal est compris entre 0 et 145, le tarif minimum est facturé (0,45€).</li>'+
                                '<li>Si votre quotient familial est supérieur ou égal à 2243, le tarif maximum est facturé (6,50€).</li>'; 
                }
                ,
                hideNotice2(){
                    this. html = ''; 
                }                    
            }
        });
       app.mount('#app');
       
    </script>
</body>
</html>